html {
  background: url(images/1-f.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255,255,255);
  width: 600px;
  margin: -15px auto 10px auto;
}
h2 {
  text-align: center;
  margin-top: -10px;
  text-decoration: underline;
}
h1 {
  color: black;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 5px 20px 5px;
  border-radius: 5px;
}

article {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  padding:10px 10px 10px 10px;
  color: black;
  margin-top: -20px;
  border-radius: 5px;
  text-align: justify;
}
button {
  width:200px;
  height: 50px;
  border-radius: 5px;
  margin: 5px 200px 0px 200px;
  border: 2px solid white;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transition: all 0.5s;
}
button:hover {
  border: 2px solid black;
  background-color:rgba(255,255,255,1);
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
}
.wordBox {
  border: 2px solid black;
  font-size:30px;
  text-align: center;
  margin: 20px auto 0px auto;
  border-radius: 0px 20px 0px 20px;
  width: 400px;
  padding: 10px 0px;
}
.scoreBox {
  /*float: left;*/
  border: 2px solid black;
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  margin-top: 2px;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}
.wordDisplay {
  font-size: 40px;
  margin: 0px auto 0px auto;
  color: black;
}
.yellow {
  color: yellow;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.green {
  color: green;
}
.pink {
  color: pink;
}
.brown {
  color: brown;
}
.orange {
  color: orange;
}
.purple {
  color: purple;
}
